{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

      
<div class="container text-center">
     <h1>{{data.title}}</h1> 
      <p>{{data.body}}</p>
      <p>{{data.author_name}}</p>
      <p>{{data.created_on}}</p>
      <p>{{data.view_count}}</p>
  <p class="important">
    </div>
    <!-- <button onclick="report()" class="btn btn-lg btn-primary btn-block" type="submit">Report</button> -->
    <button type='button' onclick="window.location.href='{{url_for('report', post_id=data.id )}}'" class="btn btn-lg btn-primary btn-block" type="submit">Report</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  
  
  
  <form class="form-flag" method="POST">
      {{ form.hidden_tag()}}
      {{ form.body.label }} {{ form.body(size=20)}}
      {{form.submit()}}
  </form>
  
{% endblock %}
