{% extends "layout.html" %}
{% block content %}
<!-- <a href='{{url_for('logout')}}'>LOG OUT</a> -->

<div class="card">
    <div>
  <img height='150px' width='75px' src="https://images-na.ssl-images-amazon.com/images/I/41kG%2BQzuHML.jpg">
</div>
  <h1>{{current_user.first_name}} {{current_user.last_name}} </h1>
  <p class="title">{{current_user.email}}</p>
  <p>Coderschool</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
  <a href="{{url_for('create_post')}}" >Create post</a>
</div>

<form>

<h1>POSTS</h1>
<ul>
{% for post in posts %}
<li>
<h3>
<a href="{{url_for('posts',post_id=post.id)}}">{{post.title}}</a>
</h3> 
<p>Views {{post.view_count}}</p> 
<p>{{post.body}} {{post.created_on}}</p>
<h4>{{post.author_name}}</h4>
</li>
{% endfor %}
</ul>
</form>
{% endblock %}